.banner{
    height: 110%;
    width: 100%;
    background-image: url(../images/home-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* border: 1px solid yellowgreen; */
    vertical-align: middle;
    /* padding-top: 200px; */
}
.banner font{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    font-size: 35px;
    word-spacing: 5px;
}

.banner1{
    /* border: 1px solid black; */
    width: 60%;
    padding: 10% 5% 0 5%;
    font-variant: small-caps;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* padding-top: 150px; */
    color: #002347;
}
.banner1 h1{
    /* border: solid 1px yellowgreen; */
    color: #002347;
    width: 60%;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    animation: course 3s infinite;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 grey;
}
@keyframes course {
    0% { color: white;background-color: #002347; box-shadow: 4px 0 1px 0 rgb(255, 230, 0);}
    50% { color: white;background-color: #C03430; box-shadow: 4px 0 10px 0 rgb(229, 255, 0);}
    100% { color: white;background-color: #002347; box-shadow: 4px 0 1000px 0 rgb(255, 230, 0);}
    }
.banner1 a{
    text-decoration: none;
    cursor: default;
}
.banner1 .lm{
    background-color: #002347;
    border: 1px solid #C03430;
    width: 140px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0px grey;
    color: white;
    margin: 10px;
    padding: 15px;
    transition: 0.3s;
    font-size: 15;
    font-weight: bold;
    cursor: pointer;
}
.banner1 .lm:hover{
    background-color: #C03430;
    border: 1px solid #fffb00;
    color: white;
}
.banner1 .sc{
    background-color: #C03430;
    border: 1px solid #002347;
    width: 140px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0px grey;
    color: white;
    margin: 10px;
    padding: 15px;
    transition: 0.3s;
    font-size: 15;
    font-weight: bold;
    cursor: pointer;
}
.banner1 .sc:hover{
    background-color: #002347;
    border: 1px solid #fffb00;
    color: white;
}
.services{
    height: 230px;
    width: 100%;
    background-color: ghostwhite;
    text-align: center;
    padding-top: 80px;
}
.services h1{
    color: #002347;
}
.services font{
    font-style: italic;
    color: rgb(56, 56, 56);
}
.services-list{
    /* border: 1px solid green; */
    width: 90%;
    padding: 10px 5% 10px 5%;
    text-align: center;
    height: 60%;
}
.services-list .service1{
    /* border: 1px solid black; */
    width: 15%;
    float: left;
    height: 300px;
    margin: 0px 2% 0px 3%;
    padding: 2%;
    /* box-shadow: 2px 0px 10px 0px grey; */
    border-radius: 30px 5px 30px 5px;
    animation: 5s infinite bordr;
}
@keyframes bordr{
    0%{border: 1px solid rgb(255, 251, 0);}
    50%{border: 1px solid rgb(1, 0, 68);}
    100%{border: 1px solid rgb(255, 255, 255);}
}
.services-list .service1 img{
    float: left;
}
.services-list .hed{
    height: 55px;
    color: #002347;
    /* border: 1px solid green; */
    font-size: 29;
    /* float: right; */
    text-align: left;
}
.services-list .title{
    color: rgb(56, 56, 56);
    margin-bottom: 20px;
    text-align: left;
}
.services-list .desc{
    color: #363636;
    text-align: justify;
    line-height: 20px;
}
.services-list a{
    text-decoration: none;
    cursor: default;
}
.services-list button{
    margin: 10px 0 10px 0;
    background-color: #002347;
    border: 1px solid #C03430;
    padding: 10px 30px 10px 30px;
    color: yellow;
    border-radius: 10px;
    font-size: 15;
    transition: 0.3s;
    cursor: pointer;
}
.services-list button:hover{
    background-color: white;
    border: 1px solid #002347;
    color: #002347;
}




  .slide-btn{
    /* border: 1px solid yellowgreen; */
    width: 100%;
    margin-top: 1%;
  }
  .slide-btn .left{
    float: left;
    text-align: center;
    width: 2%;
    height: 9%;
    padding-top: 30%;
    padding: 30% 1% 0 1%;
    font-size: 25px;
    /* border: 1px solid yellowgreen; */
}
.slide-btn .right{
    float: right;
    text-align: center;
    width: 2%;
    height: 9%;
    padding-top: 30%;
    padding: 30% 1% 0 1%;
    font-size: 25px;
    /* border: 1px solid yellowgreen; */
}

.admission-service{
    float: left;
    /* clear: both; */
    /* overflow: auto; */
    width: 91.6%;
    height: auto;
    margin: 3% 0 2% 0;
    /* background-color: #F8F8FF; */
    /* border: 1px solid black; */
}
.admission-service h1{
    text-align: center;
}

.admission-service .num{
    color: #002347;
    background-color: #fffb00;
    border-radius: 50%;
    font-size: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; 
    height: 60px;
    /* position: absolute; */
}
.admission-service .adm1{
    transition: 0.3s;
    margin: 2% 3% 0% 3%;
    padding: 2% 3.5% 2% 3.5%;
    /* border: 1px solid black; */
    height: 77%;
    background-color: #F8F8FF;
    width: 20%;
    text-align: center;
    float: left;
}
.adm-serv{
    /* border: 1px solid yellowgreen; */
    height: 100%;
}
.admission-service img{
    width: 80%;
    margin: 0 10% 0 10%;
    float: right;
}
.admission-service p{
    text-align: justify;
    color: #363636;
}
.admission-service .adm1:hover{
    border-radius: 20px;
    box-shadow: 4px 4px 8px 4px rgb(187, 187, 187);
}
.sl-adm2{
    display: none;
}


/* .updown{
    border: 1px solid black;
    color: #002347;
    width: 100%;
    text-align: center;
    font-size: 30px;
    word-spacing: 20px;
} */
.slide-btn i{
    transition: 0.3s;
}

.slide-btn i:hover{
    cursor: pointer;
    color: rgb(206, 206, 206);
    border-radius: 40px;
    background-color: #002347;
}
.left #down{
    color: grey;
}

.register{
    clear: both;
    padding: 50px 100px 50px 100px;
    background-color: #002347;
    /* border: 1px solid black; */
    height: 60%;
    color: white;

}
.register .left{
    float: left;
    width: 700px;
}
.register .right{
    float: right;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: #002347;
    /* border: solid 1px black; */
    text-align: center;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 0px 20px 0px rgb(255, 255, 255);
    animation: infinite 2s reg-right;
}
@keyframes reg-right{
    0%{    box-shadow: 4px 0px 10px 0px aliceblue;}
    50%{    box-shadow: 4px 0px 10px 0px yellow;}
    100%{    box-shadow: 4px 0px 10px 0px aliceblue;}
}
.register .right input{
    /* display: block; */
    /* text-align: center; */
}
.register .right{
    /* border: 1px solid yellowgreen; */
    text-align: center;
    align-content: center;
    text-align-last: center;
}
.register .right input[type=text]{
    width: 80%;
    padding: 1% 10% 1% 10%;
    margin: 10px;
    text-align: center;
    border: none;
    font-size: 20;
    /* padding: 5px; */
    border-radius: 5px;
    border-bottom: 1px solid #002347;
}
.register .right input[type=text]:focus{
    font-size: 18;
    border: none;
    /* border-bottom: 1px solid #002347; */
}
.register .right input[type=submit]{
    width: 150px;
    padding: 10px;
    font-size: 20;
    border: none;
    color: yellow;
    font-weight: bold;
    box-shadow: 4px 0 10px 0 whi;
    border-radius: 20px;
    background-color: #002347;
    transition: 0.3s;
    border-bottom: 1px solid yellow;
}
.register .right input[type=submit]:hover{
    background-color: #C03430;
    color: white;
    border-radius: 10px;
}
.register .left .ibox{
    height: 15%;
    text-align: center;
    margin-top: 10%;
    vertical-align: middle;
}
.register .left .ibox h3{
    display: inline;
    padding: 4% 5% 4% 5%;
    border: 3px solid #002347;
    animation: infinite 5s icad-box;

}
@keyframes icad-box{
    0%{border-top: 3px solid rgb(251, 255, 0);}
    25%{border-right: 3px solid #fffb00;}
    50%{border-bottom: 3px solid rgb(251, 255, 0);}
    75%{border-left: 3px solid #ffee00;}
    100%{border-top: 3px solid rgb(251, 255, 0);}
}
.icadians{
    text-align: center;
    padding: 100px 0 100px 0;
    height: 800px;
    background-color: #002347;
    /* border: 1px solid black; */
}
.icadians .par{
    padding: 100px 0 100px 0;
    clear: both;
    color: yellow;
}
.icadians .hed{
    color: yellow;
    padding-bottom: 100px;
}
.icadians .div1{
    height: 500px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 200px;
    border-radius: 10px;
    box-shadow: 1px 0 10px 0 white;
    display: flex;
    align-items: flex-end;
}
.icadians .content{
    text-align: center;
    background-color: white;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.658);
    /* background: rgba(4, 170, 109, 0.1); */
    /* opacity: 0.5; */
    /* height: 100px; */
    transition: 0.3s;
}
.icadians .content:hover{
    background: rgba(0, 35, 71, 0.795);
    color: white;
    border-radius: 20px;
}
.icadians .content p{
    font-weight: 700;
}
.icadians .div2{
    height: 500px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 1px 0 20px 0 white;
    display: flex;
    align-items: flex-end;
}
.testimonial{
    text-align: center;
    color: #002347;
    padding: 100px 0px 450px 0px;
    /* border: 1px solid yellowgreen; */
}
.testimonial font{
    font-style: italic;
}
.testimonial .box{
    float: left;
    margin: 1.6%;
    /* padding: 5px; */
    /* padding: 1%; */
    border-radius: 5%;
    height: auto;
    width: 30%;
    /* border: 1px solid yellowgreen; */
    border-top: #002347 5px solid;
    border-bottom: #8a0000 5px solid;
    /* border: 1px solid black; */
}
.testimonial .box img{
    margin-top: 15%;
    width: 90%;
    /* border: 1px solid yellowgreen; */
    border-radius: 50%;
}
.testimonial .box .left{
    float: left;
    width: 30%;
    /* border: 1px solid black; */
}
.testimonial .box .right{
    float: right;
    width: 69%;
    overflow: auto;
    height: 300px;
    /* width: 270px; */
    /* border: 1px solid black; */
}
.testimonial .box .right::-webkit-scrollbar {
    width: 5px;
  }
.testimonial .box p{
    color: #363636;
    text-align: justify;
}

@media screen and (max-width:800px) {
    .banner{
        padding-top: 0;
        /* border: 1px solid yellowgreen; */
        height: 450px;
        width: 80%;
        padding: 0 10% 0 10%;
        background-position: right;
        background-image: url(../images/banner.png);
    }
    .banner .banner1{
        /* border: 1px solid green; */
        width: 100%;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .banner .banner1 font{
        font-size: 20;
    }
    .banner .banner1 h1{
        width: 80%;
        font-weight: bolder;
        font-size: 12px;
        color: white;
        animation: infinite 1s bannr;
    }
    @keyframes bannr {
        0% { color: white;background-color: #002347; box-shadow: 4px 0 40px 0 rgb(255, 230, 0);}
        50% { color: white;background-color: #C03430; box-shadow: 4px 0 4px 0 rgb(0, 21, 78);}
        100% { color: white;background-color: #002347; box-shadow: 4px 0 40px 0 rgb(255, 230, 0);}
    }

    .banner .banner1 button{
        width: auto;
        font-size: 12;
    }
    .services{
        /* border: 1px solid yellowgreen; */
        width: 80%;
        padding: 0 10% 0 10%;
        height: 30%;
        padding-top: 50px;
    }
    .services h1{
        width: 100%;
    }
    .services-list{
        width: 100%;
        padding: 0;
        margin: 0;
        /* height: 270%; */
        /* border: 1px solid yellowgreen; */
        /* padding-top: 10px; */
    }
    .services-list .service1 img{
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        /* border: 1px solid yellowgreen;         */
    }
    .services-list .service1{
        margin: 1% 2% 1% 2%;
        padding: 1% 2% 1% 2%;
        height: auto;
        width: 91%;
        /* background-color: black; */
    }
    .services-list .service1 .hed{
        clear: both;
        text-align: center;
    }
    .slide-btn{
        margin: 0;
        padding: 0;
        height: auto;
        /* border: 1px solid yellowgreen; */
    }
    .slide-btn.admission-service{
        width: 100%;
        margin: 0;
        /* border: 1px solid greenyellow; */
        padding: 0;
    }
    .admission-service h1{
        padding: 0 10% 0 10%;
    }
    .admission-service .adm1 .num{
        margin: 0 40% 0 40%;
    }
    .admission-service .adm1{
        margin: 5% 5% 5% 5%;
        padding: 10% 5% 10% 5% ;
        width: 80%;
        height: auto;
    }
    .admission-service .adm1 img{
        width: 100px;
        float: right;
    }
    .admission-service .adm1 h3{
        width: 30%;
        margin: 0;
        padding: 10px 0 10px 0;
    }
    .sl-adm2{
        display: block;
    }
    #sl-adm6{
        display: none;
    }
    .slide-btn .right #up,.slide-btn .left #down{
        display: none;
    }
    .register{
        width: 100%;
        padding: 0;
        height: 110%;
        margin: 0;
        text-align: center;
        /* border: 1px solid yellowgreen; */
    }
    .register .left{
        text-align: center;
        width: 80%;
        padding: 0 10% 0 10%;
        margin: 0;
    }
    .register .left .box{
        width: 15%;
        height: 7%;
        padding: 3%;
        margin-bottom: 1%;
        margin: 0%;
    }
    .register .right{
        text-align: center;
        margin: 0;
        margin-top: 10%;
        padding: 0;
        height: auto;
        width: 100%;
    }
    .register .left .ibox{
        height: 15%;
        text-align: center;
        margin-top: 10%;
        vertical-align: middle;
    }
    .register .left .ibox h3{
        display: inline;
        padding: 4% 5% 4% 5%;
    }
    .white-space{
        display: none;
        /* clear: both; */
        width: 100%;
        height: 50%;
    }
    .icadians{
        width: 100%;
        /* border: 1px solid yellowgreen; */
        padding: 2% 0 10% 0;
        height: auto;
    }
    .icadians .hed{
        padding: 0;
        margin: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .icadians .div1{
        margin: 0 5% 0 5%;
        padding: 1% 5% 0 5%;
        width: 80%;
        height: 350px;
    }
    .icadians .content h1{
        font-size: 15;
        font-weight: bold;
    }
    .icadians .content{
        border-radius: 10px;
    }
    .icadians .div2{
        margin: 5% 5% 0 5%;
        padding: 0 5% 0 5%;
        width: 80%;
        height: 350px;
    }
    .icadians .par{
        padding: 0;
        padding-top: 50px;
    }
    .testimonial{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
        /* border: 1px solid yellowgreen; */
    }
    .testimonial .box{
        margin: 0;
        text-align: center;
        margin-top: 10%;
        padding: 10%;
        width: 80%;
        height: auto;
    }
    .testimonial .box img{
        float: none;
        width: 50%;
        margin: 0;
    }
    .testimonial .box .left{
        height: auto;
        text-align: center;
        width: 100%;

    }
    .testimonial .box .right{
        width: 100%;
        height: auto;
    }
}